body {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 24px;
  background: rgb(247, 247, 247);
  max-width: 800px;
}

header,
section,
footer,
article {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
  font-weight: normal;
}

p {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
  font-weight: normal;
}

hr {
  margin: 0;
}

code {
  padding: .2em;
  margin: 0;
  color: rgb(200, 40, 41);
}

code::before {
  content: "<";
  color: rgb(200, 40, 41);
}

code::after {
  content: ">";
  color: rgb(200, 40, 41);
}

code span {
  color: rgb(113, 140, 0);
}
