body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
}

h1,
h2,
h3 {
  color: #333333;
}

header,
section,
footer {
  position: relative;
  max-width: 800px;
  margin: 16px auto;
}

article {
  padding: 8px 16px;
  margin-bottom: 16px;
  /*overflow: hidden;*/
}

.box {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #ccc;
}

code {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  padding: .2em;
  margin: 0;
  font-size: .85em;
  background-color: #f7f7f7;
}

/* def list */
dl {
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.2em;
}

dt {
  float: left;
  clear: both;
  width: 520px;
  margin-bottom: 8px;
}

dt:hover, dt:hover + dd {
  color: #4183c4;
}

dd {
  float: right;
  clear: right;
  min-width: 80px;
  margin-bottom: 8px;
  text-align: right;
  white-space: nowrap;
}

dt > div {
  display: inline-block;
  width: 120px;
  float: left;
}

/* form */
fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

label {
  display: inline-block;
  width: 160px;
  padding: 2px;
}

select {
  width: 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
}
