/* exercise */
.book .book-body .page-wrapper .page-inner .exercise {
  border: 0;
}

.page-inner .exercise .header {
  background: none;
  color: inherit;
  display: none;
}

.page-inner .exercise .editor {
  min-height: 40px;
}

svg line {
  stroke: #bbb;
  stroke-width: 1px;
}

svg text {
  font-size: 10px;
  fill: #bbb;
}

svg path {
  fill: transparent;
  fill: rgba(255,255,255,0);
  stroke: #4183c4;
  stroke-width: 2px;
}

/* jQuery Book Plugin */
button.jqbook {
  display: none;
}

iframe.jqbook {
  width: 100%;
  border: 1px solid #ddd;
}
